<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post" action="/login" >
    <input type="text" name="username" placeholder="Adınızı daxil edin"> <br>
    <input type="password" name="password" placeholder="ŞifrƏnizi daxl edin"> <br>
    <input type="submit" value="Göndər">
    <a href="/register">Register now!</a>
</form>
</body>
</html>